header {
    top: 0px;
    position: sticky;
    width: 100%;
    height: 54px;
    justify-self: center;
    align-items: center;
}

.menu {
    display: flex;
    gap: 18px;
    align-items: center;
    background-color: #151b23;
    border-bottom: 1px #3d444d solid;
}

.menu a {
    text-decoration: none;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.opzione {
    display: flex;
    gap: 6px;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 50px;
}

.opzione:hover {
    cursor: pointer;
    background-color: #212730;
}

.opzione i {
    color: #9198a1;
    font-size: 18px;
}

.opzione p {
    color: #f4f7f5;
    font-family: "Red Hat Text", sans-serif;
    font-size: 16px;
}

.selezionato {
    border-bottom: 3px #6db5f8 solid;
}