.lettera_silenziosa { color: #999999; }
.madd_normale { color: #ffc1e0;}
.madd_separato { color: #ff8e3b; }
.madd_connesso { color: #ff5e8e; }
.madd_necessario { color: #e30000; }
.ghunna_ikhfa { color: #26b55d; }
.qalqala { color: #00deff; }
.tafkhim { color: #3c84d5; }