.contenitore_capitolo {
    padding: 20px;
    transition: margin-left 0.3s ease;
}

.capitolo p {
    margin: 0;
}

.capitolo {
    font-size: 16px;
    padding: 12px;
    cursor: pointer;
    border-radius: 8px;
    transition: background 0.4s;
}

.capitolo:hover {
    background-color: #212730;
}

.versi {
    margin-left: 15%;
    margin-right: 15%;
}

.verso {
    display: flex;
    border-bottom: 1px #3d444d solid;
    padding: 10px 0
}

.verso .contenuto {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 40px;
}

.verso .testo_arabo {
    direction: rtl;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    font-family: uthmanic;
    font-size: 36px;
    color: #f4f7f5;
    margin-bottom: 20px;
    margin-top: 40px;
    white-space: normal;
    text-align: right;
}

.verso .testo_tradotto {
    width: 100%;
    font-size: 18px;
    font-family: "Red Hat Text", sans-serif;
    color: #f4f7f5;
}

.verso .testo_tradotto .autore {
    color: #5b6169;
}

.parola {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    margin: 0 5px;
    cursor: pointer;
    transition: color 0.3s;
}

.parola:hover {
    color:#6db5f8;   
}

.parola:hover span {
    color: inherit !important;
}

.traslitterazione {
    margin-top: 5px;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}